/* RixYeoljeongdo_Regular */
@font-face {
  font-family: 'Rix_yj';
  /* font-family: 'RixYeoljeongdo_Regular'; */
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/RixYeoljeongdo_Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}