/* common.css */
.clearfix:after, .clearfix::after {
  content:"";
  display:block;
  width:100%; height:0;
  clear:both;
}

.none {
  display:none;
}

/* code example setting */
.code_exam {
  width:1200px; height:auto; min-height:1000px;
  margin:auto;
  padding:20px;
  box-sizing: border-box;
  background-color: #EEE;
}

.code_exam h1 {
  width:100%; height:auto;
  padding-bottom:10px;
  font-size:20px;
  font-weight:700;
  text-align: center;
}

.code_exam .part {
  width:90%; height:auto;
  margin:auto;
  margin-top: 20px;
  padding:20px;
  border:1px solid #555;
  box-sizing: border-box;
  background-color: #FFF;
}

.code_exam h2 {
  width:100%; height:auto;
  margin-bottom:10px;
  padding-bottom:10px;
  border-bottom:1px solid #333;
  font-weight: 700;
}

.code_exam .ex_wrap {
  width:100%; height:auto;
  padding:20px;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #FEE;
}
